* {
    margin: 0;
    padding: 0;
}
.container {
    border: 1px solid rgb(145, 144, 144);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px 100px 0 100px;
    box-shadow: 1px 2px 3px 2px rgb(172, 172, 172);
    
}

.container__info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
.img {
    display: flex;
}